@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Patua+One&display=swap');

$bg-lavender-color: #FFEBEC;
$bg-nyanza-color: #DCFFE1;
$bg-second-color: #fafafa;
$bg-main-color: #fff;
$bg-cta-color: #ffb035;
$text-color: #0e172c;
$text-font: 'Maven Pro';
$heading-font: 'Patua One';
$rounded-corners: 30px;

%card {
  border-radius: $rounded-corners;
}


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  color: $text-color;
  background-color: $bg-main-color;
  font-family: $text-font;
}

body {
  width: 90%;
  margin: 0 auto;
}

.nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  &__logo-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;

    img {
      width: 100px;
    }
  }

  &__links-container {
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

    li {
      text-align: center;
      padding-right: 20px;

      .nav__link {
        width: 100%;
        text-decoration: none;
        color: $text-color;
        font-weight: bold;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }

  }
}

.hero {
  margin-top: 20px;

  &__main {
    @extend %card;
    background-color: $bg-lavender-color;

    &__content {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;

      &__title {
        font-size: 11vw;
        margin-bottom: 15px;
        margin-top: 40px;
      }

      &__description {
        font-size: 5vw;
        margin-bottom: 40px;
      }

      &__cta-link {
        font-size: 5vw;
        color: $text-color;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto 0;

      img {
        max-height: 80%;
        max-width: 80%;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &__cards {
    margin-top: 20px;
    margin-bottom: 20px;

    &__card {
      @extend %card;
      background: lightblue;
      height: 180px;
      margin-bottom: 20px;
      display: flex;

      &__content {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 0px 10px 20px;
        font-size: 4vw;

        &__subtitle {
          margin-top: 10px;
          margin-bottom: 30px;
        }

        &__link {
          color: $text-color;
          font-weight: bold;
        }
      }

      &__image {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width:576px) {
  .hero {
    &__main {
      display: flex;
      align-items: center;

      &__content,
      &__img {
        height: 100%;
        width: 50%;
      }

      &__content {
        text-align: left;
        align-items: flex-start;
        justify-content: center;
        padding-left: 40px;

        &__title {
          font-size: 6vw;
        }

        &__description {
          font-size: 3vw;
        }

        &__cta-link {
          font-size: 3vw;
          margin-bottom: 40px;
        }
      }
    }

    &__cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__card {
        margin-right: 15px;
        max-width: 31%;

        &__content {
          font-size: 2vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    &__main {
      &__content {
        &__title {
          font-size: 4vw;
        }

        &__description,
        &__cta-link {
          font-size: 2vw;
        }
      }
    }

    &__cards {
      &__card {
        &__content {
          font-size: 1.5vw;
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
  .hero {
    &__cards {
      &__card {
        height: 250px;
        width: 31%;
      }
    }
  }
}